.top-radius{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.middle-radius{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.bottom-radius{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
