{% extends 'layout/base.html' %}
{% block container %}

<div style='margin-top:80px;' class='container'>
	<div class="jumbotron">
		<h2>Welcome to <u>Radical Dinosaur!</u></h2>
	</div>
</div>

{% endblock %}
