{% extends 'layout/base.html' %}
{% block container %}

<div style='margin-top:80px;' class='container'>
	<div class="col-md-4">
		<form role="form" class="">	
			<div class="form-group"><input type="email" class="form-control" id="email" placeholder="email"></div>
			<div class="form-group"><input type="text" class="form-control" id="username" placeholder="username"></div>
			<div class="form-group"><input type="password" class="form-control" id="password" placeholder="password"></div>
		</form>
	</div>
</div>

{% endblock %}
