{% extends 'layout/base.html' %}
{% block container %}

<div style='margin-top:80px;' class='container'>
	<div class="row">
		<div class="col-md-4" style="margin:auto;">
			<form role="form" method="post" action="/register" class="">	
				<div><input name="email" type="email" class="form-control top-radius" id="email" placeholder="email"></div>
				<div><input name="username" type="text" class="form-control middle-radius" id="username" placeholder="username"></div>
				<div><input name="password" type="password" class="form-control bottom-radius" id="password" placeholder="password"></div>
				<p><input type="submit" value="Register"/></p>
			</form>
		</div>
	</div>
</div>

{% endblock %}
