{% extends 'layout/base.html' %}
{% block container %}

<div style='margin-top:80px;' class='container'>
   <table class="table">
      {% for user in users %}
      <tr>
         <td>{{ user.id }}</td>
         <td>{{ user.name }}</td>
      </tr>
      {% endfor %}
   </table>   
</div>

{% endblock %}
