<!DOCTYPE html>
<html>
	<head>
		<title>Login App</title>
		<meta charset="utf-8">
		<meta name="author" content="Nick Sjostrom">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>
		<div id='wrap'>
			<div class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle Nav</span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{ url_for('index') }}">Radical Dinosaur</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                            <li class="active"><a href="{{ url_for('users') }}">Users</a></li>
						</ul>

						<a href="{{ url_for('register') }}" class="btn btn-primary navbar-btn navbar-right">Register</a> 
						
						<ul style="margin-right:10px;" class="nav navbar-nav navbar-right">
							<li class=""><a href="{{ url_for('login') }}">Login</a></li>  
						</ul>  
					</div>
				</div>
			</div> 	
			{% block container %}
			{% endblock %}
		</div>
		<div id="footer"><span class="text-muted">&copy; 2013-2014 Nick Sjostrom</span></div>
	</body>
</html>
